Options -Indexes

LimitRequestBody 16777216

# Errors
ErrorDocument 400 /errors/err.php
ErrorDocument 401 /errors/err.php
ErrorDocument 402 /errors/err.php
ErrorDocument 403 /errors/err.php
ErrorDocument 404 /errors/err.php
