body {
    --tlf-bg-red:   #884444;
    --tlf-bg-green: #448844;
    --tlf-bg-blue:  #444488;
    
    --tlf-bg-cyan:    #448888;
    --tlf-bg-magenta: #884488;
    --tlf-bg-yellow:  #888844;
    
    --tlf-widget-height: 30px;
    --tlf-widget-width: 300px;
    
    --tlf-color-widget-bg: #444448;
    
    --tlf-color: var(--tlf-color-widget-bg);
    --tlf-hover-color: #555559;
}

div.app-list {
    box-sizing: border-box;
    margin: 10px;
}

div.small {
    height: 50px;
}

div.resizable-tile {
    align-items: center;
    background-color: var(--tlf-color);
    border-radius: 4px;
    color: #bbbbbf;
    display: flex;
    font-size: 180%;
    height: calc(100% - 10px);
    justify-content: center;
    margin: 5px;
    outline: 2px solid #333337;
    transition: transform 0.05s, background-color 0.05s;
}

div.resizable-tile:hover {
    background-color: var(--tlf-hover-color);
    transform: scale(1.02, 1.02);
    transition: transform 0.15s, background-color 0.15s;
}

.button-tile {
    cursor: pointer;
    font-size: 15pt !important;
}

[is=tlf-resizable-tile],
[is=tlf-button-tile] {
    border-radius: 4px;
    display: inline-block;
    font-weight: bold;
    min-width: 100px;
    overflow: hidden;
}

[is=tlf-resizable-tile]:hover,
[is=tlf-button-tile]:hover {
    text-decoration: none !important;
}

[is=tlf-button-tile] {
    height: 100%;
}

[is=tlf-resizable-tile]
{
    height: 150px;
}

tlf-combobox {
    background-color: var(--tlf-color-widget-bg);
    border-radius: 4px;
    height: var(--tlf-widget-height);
    display: inline-block;
    width: var(--tlf-widget-width);
}

div.background-tile, tlf-background-tile {
    background-color: var(--tlf-color-widget-bg);
    border-radius: 4px;
    color: #bbbbbf;
    display: block;
    margin: 15px;
    width: calc(100% - 30px);  
}

div.background-tile-padding {
    display: inline-block;
    margin: 20px;
    width: calc(100% - 40px);
}

div.background-tile-big-padding {
    display: inline-block;
    margin: 20px 20% 20px 20%;
    text-align: justify;
    width: calc(60% - 40px);
}

.data {
    font-size: 12pt;
    overflow-y: auto;
    text-align: center;
}

.data-table {
    background-color: #58585c;
    border-radius: 10px;
}

.data-table, .topic {
    display: inline-block;
    font-size: 12pt;
    margin: 13px;
    padding: 20px;
}
