.tlt-block {
    background-color: var(--color);
    box-shadow: 1px 1px 4px black;
    box-sizing: border-box;
    color: black;
    text-align: center;
    position: absolute;
}

.tlt-inner {
    align-items: center;
    display: flex;
    font-size: 150%;
    height: calc(100% - 10px);
    justify-content: center;
    margin: 5px;
}

.tt-hourDisplay .tlt-inner {
    font-size: 0.8em;
    justify-content: left;
    padding-left: 10px;
}

.tlt-topic-label {
    color: black;
    font-size: 70%;
}

.tlt-topic-label:hover {
    color: #777777;
    cursor: help;
    font-size: 70%;
    text-decoration: none;
}

.tlt-hw-dscr {
    background-color: #666666;
    border-radius: 3px;
    color: white;
    display: none;
    font-size: 11pt;
    opacity: 90%;
    padding: 10px;
    pointer-events: none;
    position: absolute;
    transition: opacity 0.1s;
    z-index: 100;
}

#tlt-current-box {
    position: absolute;
}

#tlt-current {
    background-color: #aaaaff;
    height: 1px;
    outline: 1px solid black;
}

#tlt-current-label {
    background-color: #666666;
    opacity: 0%;
    padding: 5px;
    transition: opacity 0.2s;
}

#current-date-wrapper {
    display: inline-block;
    height: 100%;
    vertical-align: top;
    width: 120px; 
}

#current-date {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    text-align: center;
}

.tt-lesson {
    --color: #dddd99;
}

.tt-optional {
    --color: #99dd99;
}

.tt-free {
    --color: #99dd99;
    font-size: 10pt !important;
    opacity: 20%;
}

.tt-window {
    --color: #dd9999;
}

.tt-hourDisplay {
    --color: transparent;
    box-shadow: none;
    border: dashed #aaaaaa;
    border-width: 1px 0px 1px 0px;
    color: #cccccc;
}

@keyframes tt-current {
    0% { background-color: var(--color); }
    50% { background-color: #dddddd; }
    100% { background-color: var(--color); }
}

.tt-current {
    animation: tt-current 1s infinite ease-in-out;
}

#container {
    position: relative;
    margin: 50px 10% 0px 10%;
    width: 80%;
}

#container-wrapper {
    margin-bottom: 40px;
}
