button, 
input[type="submit"], 
input[type="button"], 
input[type="checkbox"] {
    background-color: #777777;
    border: none;
    border-radius: 3px;
    box-sizing: border-box;
    color: #dddddf;
    font-size: 12pt;
    margin: 5px;
    padding: 7px;
    transition: background-color 0.1s, border-color 0.1s;
}

button:hover, 
input[type="submit"]:hover, 
input[type="button"]:hover {
    background-color: #88888f;
    transition: background-color 0.1s;
}

input:focus {
    border: 2px solid #77777f !important;
    outline: none;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="time"],
input[type="email"],
select {
    display: inline-block;
    font-family: opensans;
    margin: 5px;
    width: 300px;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="time"] {
    height: 25px;
}

select {
    height: 35px;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="time"],
input[type="email"],
select,
textarea {
    background-color: #333338;
    border: 2px solid #66666d;
    border-radius: 3px;
    color: white;
    padding-left: 10px;
}

input[type="submit"], input[type="button"] {
    width: 300px;
}

textarea {
    height: 300px;
    width: 75%;
}

/* TODO: Match to content somehow */
fieldset {
    margin: auto;
    width: 50%;
}
