.up-column {
    display: inline-block;
    font-size: 83.33%;
    padding-left: 10px;
    width: 150px;
}

.up-file {
    font-size: 120%;
}

.progress-container {
    max-width: 1000px;
    text-overflow: ellipsis;
    width: 100%;
}

.progress-bar {
    background-color: #66666c;
}

.progress-bar-progress {
    background-color: #00a000;
    height: 10px;
    margin: 5px 0px 10px 0px;
    transition: width 0.2s;
}

#file-listing .name-flex {
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: left;
}

#file-listing .icon {
    display: inline-block;
    height: 32px;
    line-height: 32px;
    padding-right: 5px;
}

#quota-string {
    font-weight: bold;
}
