.up-column {
    display: inline-block;
    font-size: 83.33%;
    padding-left: 10px;
    width: 150px;
}

.up-file {
    font-size: 120%;
}

#file-listing .name-flex {
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: left;
}

#file-listing .icon {
    display: inline-block;
    height: 32px;
    line-height: 32px;
    padding-right: 5px;
}

#quota-string {
    font-weight: bold;
}
