# Rewrite Syntax:
#  /profile/$NAME.{css,js} -> /user/$NAME.{css,js}
#  /profile -> /user/profile.php
#  /profile/$USER[/$PAGE] -> /user/shortlink.php?name=$USER&page=$PAGE

RewriteEngine on

# Assets (CSS/JS/...)
RewriteRule ^([\w-]*)\.(\w*)$ /pcu/user/$1.$2

# Page
RewriteRule ^(\w*)(?:/(\w*))?$ /pcu/user/shortlink.php?name=$1&page=$2
